/* Variáveis padrões */
:root {
    --cor-de-fundo: #94aaac;
    --amarelo: yellow;
    --amarelo-claro: #ffffc4;
    --branco: white;
    --cinza-azulado: #233d3f;
    --cinza-azulado-claro: #233d3f;
    --azul: #1b71f1;
    --azul-claro: #b2f3ff;
    --vermelho-crimson: crimson;
    --vermelho-crimson-claro: rgb(255, 57, 97);
    --preto-transparente10: rgba(0, 0, 0, 0.1);
    --preto-transparente80: rgba(0, 0, 0, 0.8);
    --largura-base: 1200px;
}

/* Configurações de reboot e elementos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-de-fundo);
}

/* Dados globais */
#corpo-da-pagina {
    padding-top: .5%;
    width: 100%;
    max-width: var(--largura-base);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

h1 {
    font-size: 25pt;
}

h2 {
    font-size: 28pt;
}

h3 {
    font-size: 16pt;
}

h4,
h5,
h6 {
    font-size: 13pt;
}

.fundo-amarelo-claro {
    background-color: var(--amarelo-claro);
}

.fundo-azul-claro {
    background-color: var(--azul-claro);
}

.espacamento-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.espacamento-flex div {
    width: 171.1px;
}


/* Editor de dados */
div#editar-valor {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    background-color: var(--preto-transparente80);
}

#editor {
    width: 450px;
    height: 350px;
    padding: 10px;
}

#editor div.fechar-editor {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: var(--vermelho-crimson);
    color: var(--branco);
    font-size: 10pt;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
}

#editor div.fechar-editor:hover {
    background-color: var(--vermelho-crimson-claro);
}

#editor h1 {
    text-transform: uppercase;
    font-size: 20pt;
    text-align: center;
    margin-left: 20px;
}

.container-tempo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
}

.container-tempo * {
    margin: 0 6px;
}

.container-tempo input {
    font-size: 10pt;
    background-color: var(--branco);
    border: 1px solid var(--preto-transparente10);
    color: var(--cinza-azulado);
    border-radius: 3px;
    margin-left: -4px;
    padding: 1px;
}

#intervalo_tempo {
    width: 60px;
    text-align: center;
}

.formulario {
    text-align: center;
    padding: 10px 0;
}

textarea#conteudo {
    width: 100%;
    height: 20%;
    resize: none;
    border: 1px solid var(--preto-transparente10);
    color: var(--cinza-azulado);
    border-radius: 3px;
    margin: 10px 0;
    padding: 5px;
    font-size: 10pt;
}

.formulario button {
    border: 1px solid var(--preto-transparente10);
    border-radius: 3px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--cinza-azulado);
    color: var(--branco);
}

.formulario button:hover {
    background-color: var(--cinza-azulado-claro);
}

/* Dados do projeto */
#conteudo-principal {
    width: 100%;
    border: 1px solid var(--cinza-azulado);
    background-color: var(--preto-transparente10);
}

#titulo-principal {
    padding: 4px;
    background-color: var(--cinza-azulado);
}

#titulo-principal h1 {
    font-size: 14pt;
    color: var(--amarelo);
    word-spacing: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

}

.coluna-dias,
.coluna-dias-responsivo {
    text-align: center;
    text-transform: uppercase;
    font-size: 11pt;
    letter-spacing: 2px;
    font-weight: 600;
}

.coluna-dias div,
.coluna-dias-responsivo div {
    border: 1px solid var(--preto-transparente10);
}

.coluna-dias-responsivo {
    display: none;
    font-size: 8pt;
    padding: 1px;
}

.periodo {
    padding: 3px;
    background-color: var(--cinza-azulado);

}

.periodo h2 {
    color: var(--amarelo);
    font-size: 11pt;
    font-weight: bold;
    word-spacing: 10px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.container-periodo-dia {
    width: 100%;
}


.intervalo-hora {
    display: flex;
    background-color: var(--azul);
    color: var(--branco);
    font-size: 10pt;
    font-weight: 600;
}

.intervalo-hora div {
    border: 1px solid var(--preto-transparente10);
    width: 100%;
    text-align: center;
}

.texto-nota {
    height: 133.5px;
    padding: 5px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: .6px;
    cursor: pointer;
    font-size: 9pt;
    overflow: auto;
    overscroll-behavior-y: contain;
    border: 1px solid var(--preto-transparente10);
}

.periodo-temp {
    display: none;
}

.total-periodo-dia {
    border: 1px solid var(--preto-transparente10);
    background-color: var(--amarelo);
    font-size: 10pt;
    font-weight: 600;
    text-align: center;
}

#total-por-dia div {
    font-weight: 600;
    font-size: 12pt;
    text-align: center;
}

#total-por-dia div:first-child {
    font-size: 8pt;
}

div.container-total div {
    border: 1px solid var(--preto-transparente10);
}

#total-horas {
    display: flex;
    padding: 1px;
    background-color: var(--cinza-azulado);
    color: var(--amarelo);
    font-size: 13pt;
    text-transform: uppercase;
    font-weight: 600;
}

#total-horas div:first-child {
    text-align: start;
    word-spacing: 10px;
    letter-spacing: 3px;
    padding-left: 10px;
    width: 100%;
}

#total-horas div:last-child {
    width: calc(100% / 7 + 2.5%);
    padding-left: 10px;
    text-align: center;
}

/*** Media Query ***/
@media (max-width: 1200px) {
    .periodo-temp {
        display: block;
    }

    #corpo-da-pagina {
        max-width: 687px;
    }

    .coluna-dias {
        display: none;
    }

    .coluna-dias * {
        display: none;
    }

    .coluna-dias-responsivo {
        display: block;
    }
}

@media (max-width: 687px) {
    #corpo-da-pagina {
        max-width: 515.5px;
    }

    div#editar-valor {
        align-items: start;
    }

    .container-tempo {
        flex-wrap: wrap;
    }

    #editor {
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    #total-horas {
        font-size: 10pt;
    }
}

@media (max-width: 516px) {
    #corpo-da-pagina {
        width: 344.5px;
        max-width: 100%;
    }
}

@media (max-width: 344px) {
    #corpo-da-pagina {
        width: 85%;
        max-width: 100%;
    }

    .espacamento-flex div {
        width: 100%;
    }
}

@media (max-width: 250px) {
    #corpo-da-pagina {
        width: 95%;
    }

}

@media (max-width: 190px) {

    div#editar-valor,
    #corpo-da-pagina {
        display: none;
    }

    #mensagem-tela::after {
        content: "Tamanho de tela não suportado.";
        text-transform: uppercase;
        font-size: 10pt;
        padding: 2px;
    }
}